* {
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
}

.bg-dark {
    background-color: #000000;
}

.bg-lightblue{
    background-color: #00C9F2;
    color: #FFFFFF;   
}

.color-letters {
    color: #FFFFFF;
}

